
input:first-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom: 0px;
}

input:nth-child(2), input:nth-child(3), input:nth-child(4) {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom: 0px;
}

form > button {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}