
<form [formGroup]="registerForm">
	<input type="text" class="form-control" formControlName="name" required placeholder="Your Name" autocomplete="newFullnameAddi" />
	<input type="email" class="form-control" formControlName="email" required placeholder="Email Address" autocomplete="NewEmailAddi" />
	<input type="password" class="form-control" formControlName="passw" required minlength="8" maxlength="12" placeholder="Password" autocomplete="newPasswordAdii" />
	<input type="password" class="form-control" formControlName="confi" required minlength="8" maxlength="12" placeholder="Confirm Password" autocomplete="newConfirmPassi" />
	<button class="btn btn-block btn-primary" [disabled]="!registerForm.valid" (click)="attemptRegister()">Register Now</button>
</form>