<nav class="navbar navbar-expand navbar-dark bg-primary animated fadeIn fixed-top" *ngIf="user">
  <a class="navbar-brand" [routerLink]="['/dashboard']">Motice</a>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="leftSidebarVisible = !leftSidebarVisible">
          <span *ngIf="!leftSidebarVisible"><i class="fad fa-bars text-white"></i></span>
          <span *ngIf="leftSidebarVisible"><i class="fad fa-times text-white"></i></span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="menu.toggle($event)">
          <i class="fad fa-ellipsis-v"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<p-menu #menu [popup]="true" [model]="topBarMenuItems"></p-menu>

<p-sidebar [(visible)]="leftSidebarVisible" position="left" styleClass="ui-sidebar-sm p-0 mainSidebar" appendTo="body" [showCloseIcon]="false">
  <div class="list-group list-group-flush">
    <a href class="list-group-item list-group-item-action" [routerLink]="['/dashboard']" (click)="leftSidebarVisible = !leftSidebarVisible">
      <i class="fad fa-fw fa-chart-network"></i>
      Dashboard
    </a>
    <a href class="list-group-item list-group-item-action" [routerLink]="['/clients']" (click)="leftSidebarVisible = !leftSidebarVisible">
      <i class="fad fa-fw fa-users"></i>
      Clients
    </a>
  </div>
</p-sidebar>

<div class="animated fadeIn" [ngClass]=" user ? 'container-fluid app-wrapper' : 'bg-light-gray h-100' " modal="false">
  <router-outlet></router-outlet>
</div>

<p-toast></p-toast>

<ngx-ui-loader></ngx-ui-loader>