<nav class="navbar navbar-expand-lg navbar-light bg-light animated fadeIn" *ngIf="user">
  <a class="navbar-brand" [routerLink]="['/dashboard']">Motice</a>
  <button class="navbar-toggler border-0" type="button" (click)="topBarCollapsed = !topBarCollapsed">
    <i class="fad fa-ellipsis-v"></i>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="topBarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="leftSidebarVisible = !leftSidebarVisible">
          <span *ngIf="!leftSidebarVisible"><i class="fad fa-bars"></i></span>
          <span *ngIf="leftSidebarVisible"><i class="fad fa-times"></i></span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<p-sidebar [(visible)]="leftSidebarVisible" position="left" styleClass="ui-sidebar-sm" appendTo="body" [showCloseIcon]="false">
  Hello Content
</p-sidebar>

<div class="animated fadeIn h-100" [ngClass]=" user ? 'container-fluid' : 'bg-light-gray' ">
  <router-outlet></router-outlet>
</div>