<nav class="navbar navbar-expand navbar-dark bg-primary animated fadeIn fixed-top" *ngIf="user">
  <a class="navbar-brand" [routerLink]="['/dashboard']">
    <span *ngIf="company?.dba">{{company?.dba}}</span>
    <span *ngIf="!company?.dba">{{company?.name}}</span>
  </a>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="leftSidebarVisible = !leftSidebarVisible">
          <span *ngIf="!leftSidebarVisible"><i class="fad fa-bars text-white"></i></span>
          <span *ngIf="leftSidebarVisible"><i class="fad fa-times text-white"></i></span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="menu.toggle($event)">
          <i class="fad fa-ellipsis-v"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<p-menu #menu [popup]="true" [model]="topBarMenuItems"></p-menu>

<p-sidebar [(visible)]="leftSidebarVisible" position="left" styleClass="ui-sidebar-sm p-0 mainSidebar" appendTo="body" [showCloseIcon]="false">
  <div class="card card-body border-0 justify-content-center align-items-center">
    <img src="http://api.adorable.io/avatars/60/{{user?.email}}" class="rounded-circle mb-2" width="60" />
    <h4 class="font-weight-light mb-0">{{ user?.displayName }}</h4>
    <p class="font-weight-light">{{ user?.email }}</p>
  </div>
  <div class="list-group list-group-flush border-top pt-3">
    <a href class="list-group-item list-group-item-action" [routerLink]="['/dashboard']" (click)="leftSidebarVisible = !leftSidebarVisible">
      <i class="fad fa-fw fa-chart-network"></i>
      Dashboard
    </a>
    <a href class="list-group-item list-group-item-action" [routerLink]="['/clients']" (click)="leftSidebarVisible = !leftSidebarVisible">
      <i class="fad fa-fw fa-users"></i>
      Clients
    </a>
  </div>
  <div class="sidebar-footer border-top pt-3">
    <div class="list-group list-group-flush">
      <a href="http://help.motice.io" class="list-group-item list-group-item-action" target="_blank">
        <i class="fad fa-fw fa-life-ring"></i>
        Help &amp; Support
      </a>
      <div class="list-group-item text-left border-top legal mt-3">
        <img src="./assets/logo.png" width="40" class="float-left mr-2 rounded-circle" />
        <i class="fad fa-copyright"></i> Motice 2020 All Rights Reserved<br/>
        <span class="text-center">Made With <i class="fad fa-heart text-danger"></i> In Harrisonville, MO</span>
      </div>
    </div>
  </div>
</p-sidebar>

<div class="animated fadeIn" [ngClass]=" user ? 'container-fluid app-wrapper' : 'bg-light-gray h-100' " modal="false">
  <router-outlet></router-outlet>
</div>

<p-toast></p-toast>

<ngx-ui-loader></ngx-ui-loader>

<p-sidebar [dismissible]="false" [modal]="false" [(visible)]="calendarSidebarVisible" position="right" [styleClass]="calSidebarStyleClass" appendTo="body" [showCloseIcon]="false">
  <app-calendar></app-calendar>
</p-sidebar>

<p-sidebar [(visible)]="tasksSidebarVisible" position="right" styleClass="ui-sidebar-sm p-0" appendTo="body" [showCloseIcon]="false">
  <app-tasks></app-tasks>
</p-sidebar>

<p-sidebar [(visible)]="notesSidebarVisible" position="right" styleClass="ui-sidebar-sm p-0" appendTo="body" [showCloseIcon]="false">
  <app-notes></app-notes>
</p-sidebar>


