<div class="sidebar-header p-2 border-bottom d-flex justify-content-between align-items-top">
	<h5 class="font-weight-light pt-1">
		Calendar
	</h5>
	<div class="">
		<div class="btn-group">
			<button class="btn btn-sm btn-outline-info border-0" pTooltip="Day" tooltipPosition="left" [ngClass]="{'active' : view == 'timeGridDay'}" (click)="changeView('timeGridDay')">
				<i class="fad fa-calendar-day"></i>
			</button>
			<button class="btn btn-sm btn-outline-info border-0" pTooltip="Week" tooltipPosition="left" [ngClass]="{'active' : view == 'timeGridWeek'}" (click)="changeView('timeGridWeek')">
				<i class="fad fa-calendar-week"></i>
			</button>
			<button class="btn btn-sm btn-outline-info border-0" pTooltip="Month" tooltipPosition="left" [ngClass]="{'active' : view == 'dayGridMonth'}" (click)="changeView('dayGridMonth')">
				<i class="fad fa-calendar"></i>
			</button>
		</div>
		<div class="btn-group">
			<button class="btn btn-sm btn-link border-0" pTooltip="Today" (click)="goToToday()" tooltipPosition="left">
				<i class="fad fa-circle"></i>
			</button>
			<button class="btn btn-sm btn-link border-0" pTooltip="Create" tooltipPosition="left" (click)="openNewEvent()">
				<i class="fad fa-plus"></i>
			</button>
			<button class="btn btn-sm btn-link text-danger border-0" pTooltip="Close" tooltipPosition="left" (click)="close()">
				<i class="fad fa-times"></i>
			</button>
		</div>
	</div>
</div>

<div class="h-100" style="overflow: scroll;">
	<p-fullCalendar #fc [events]="events" [options]="dayOptions"></p-fullCalendar>
	<p-fullCalendar *ngIf="view == 'dayGridMonth'" #ec [events]="events" [options]="eventCalOptions"></p-fullCalendar>
</div>