<div class="sidebar-header p-2 border-bottom d-flex justify-content-between align-items-top">
	<h5 class="font-weight-light">
		<i class="fad fa-calendar text-info"></i>
		Calendar
	</h5>
	<div class="btn-group">
		<button pTooltip="Today" tooltipPosition="left" class="btn btn-sm btn-outline-info border-0" (click)="goToToday()"><i class="fad fa-calendar-day"></i></button>
		<button pTooltip="Close" tooltipPosition="left" class="btn btn-sm btn-outline-danger border-0" (click)="close()"><i class="fad fa-times"></i></button>
	</div>
</div>
<div class="calendar bg-dark mb-0">
	<div class="header d-flex justify-content-between align-items-center">
		<a class="text-white pl-3" (click)="prevMonth()">
			<i class="fad fa-chevron-left fa-2x"></i>
		</a>
		<h5 class="font-weight-light text-center text-white pt-2">
			{{currentDate.format('MMMM').toUpperCase()}}<br/>
			<small>{{currentDate.format('YYYY')}}</small></h5>
		<a class="text-white pr-3" (click)="nextMonth()">
			<i class="fad fa-chevron-right fa-2x"></i>
		</a>
	</div>
	<table class="table table-sm w-100 mb-0">
		<thead>
			<tr class="text-secondary">
				<th class="text-center" *ngFor="let name of namesOfDays">{{name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let week of weeks">
				<th class="th-day text-center" [ngClass]="{ 'text-primary' : day.selected, 'text-info' : day.today, 'text-white' : isSelectedMonth(day.mDate), 'text-secondary' : !isSelectedMonth(day.mDate) }" (click)="selectDate(day)" *ngFor="let day of week">
					{{day.mDate.date()}}
				</th>
			</tr>
		</tbody>
	</table>
</div>
<div class="btn-group w-100 mt-0 border-top">
	<button class="btn btn-sm btn-secondary rounded-0" (click)="adjustActionType('events')" [ngClass]="{ 'active' : selectedAction == 'events' }">Events</button>
	<button class="btn btn-sm btn-secondary rounded-0" (click)="adjustActionType('reminders')" [ngClass]="{ 'active' : selectedAction == 'reminders' }">Reminders</button>
</div>

<div class="events-wrapper">
	<div class="d-flex justify-content-between align-items-center border-bottom" *ngFor="let time of selectedTimes">
		<span class="time p-2 text-center font-weight-bold" *ngIf="time.time == theTime.format('h')">
			{{theTime.format('h:mm A')}}<br/>
			<a pTooltip="Show More Events" *ngIf="time.hasMore" tooltipPosition="left"><i class="fad fa-1x fa-calendar-plus text-center text-info"></i></a>
		</span>
		<span class="time p-2 text-center" *ngIf="time.time != theTime.format('h')">
			{{time.time | timeFormat}}<br/>
			<a pTooltip="Show More Events" *ngIf="time.hasMore" tooltipPosition="left"><i class="fad fa-1x fa-calendar-plus text-center text-info"></i></a>
		</span>
		<span class="{{event.color}} event p-2 text-white" *ngFor="let event of time.events">
			{{event.title}}<br/>
			{{event.start_time.format('h:mm a')}} - {{event.end_time.format('h:mm a')}}
		</span>
	</div>
</div>

<!-- <div class="events-wrapper">
	<table class="table events-table">
		<tbody>
			<ng-container *ngFor="let time of selectedTimes">
				<tr>
					<td rowspan="3" class="align-middle" width="25%" [ngClass]="{ 'font-weight-bold text-info' : time.time == currentTime }">{{time.time | timeFormat}}</td>
				</tr>
				<ng-container *ngIf="time.events.length">
					<tr>
						<td class="{{event.color}} text-white" *ngFor="let event of time.events">
							{{event.title}}<br/>
							{{event.start_time.format('h:mm a')}} - {{event.end_time.format('h:mm a')}}
						</td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</ng-container>
				<ng-container *ngIf="!time.events.length">
					<tr>
						<td></td>
					</tr>
					<tr>
						<td></td>
					</tr>
				</ng-container>
			</ng-container>
		</tbody>
	</table>
</div> -->